@import "../../media-query";

.homepage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__flexhelper {
    height: 10rem;
  }

  &__postings {
    width: 30%;

    @include tablet {
      width: 40%;
    }

    @include mobile {
      width: 50%;
      margin-left: 3.5rem;
    }
    margin: 0 auto;
  }
}
